<h1><%= @game.message %></h1>
<br />
<p class="lead">your band's antonym is <b><%= @game.secret %></b></p>

<form method="POST">
  <div class="form-group">
    <label>
      <input class="form-control input-lg" type="text" type="submit" name="guess" placeholder="Your guess..." />
    </label>
  </div>

  <input class="btn btn-lg btn-success" type="submit" value="Try it!" />
</form>
